.projectLinks ul{
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
}

.navSpacing ul li{
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}
.projectLinks ul li img{
  height: 200px;
  width: 150px;
}
figcaption{
  text-align: center;
  font-size: 90%;
}
.linkColor a{
  color: black;
}
nav ul li:hover{
  background-color: white;
  color: inherit;
  box-sizing: border-box;
}
