.projectLinks ul{
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
}

.navSpacing ul li{
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    list-style-type:square;
}
.navSpacing ul li img{
  height: 200px;
  width: 150px;

}
figcaption{
  text-align: center;
  font-size: 90%;
}
.linkColor a{
  color: black;
}
@media all and(min-width 700px){
  .navSpacing ul li img{
    height: 200px;
    width: 150px;}

}
